#services{
    border-top: 1px solid var(--blue-color);
    background-color: var(--gray-100);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#container-services{
    display: flex;
    width: 888px;
    height: 155px;
    gap: 24px;
    margin-top: 56px;
    margin-bottom: 120px;
}
#info-card h2{
    margin-top: 10px;
     
}
.card-services{
    width: 280px;
    border: 2px solid var(--gray-200);
    border-radius: 10px;
    padding: 20px;

}
.card-services div{
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-services p{
  color: var(--gray-600);
  margin-bottom: 10px;

}
.card-services p{
    color: var(--gray-600);
  
  }