:root{
    --red-color:#E3646E;
    --purple-color:#BB72E9;
    --blue-color:#3996DB;
    --green-color:#82BC4F;
    --yellow-color:#EABD5F;

    --gray-100:#0D0E11;
    --gray-200:#16181D;
    --gray-300:#292C34;
    --gray-400:#878EA1;
    --gray-500:#C0C4CE;
    --gray-600:#E2E4E9;

    --font-family-title: "Asap", serif;
    --font-family-sm: "Maven Pro", serif;
    --font-family-subtitle: "Inconsolata", serif;

    --title-lg:Bold 56px/120% var(--font-family-title);
    --title-md:Bold 24px/140% var(--font-family-title);
    --title-sm:Bold 14px/140% var(--font-family-sm);

    --subtitle:400 20px/120% var(--font-family-subtitle)

}
.subtitle{
    font: var(--subtitle);
    color: var(--gray-500);
}
.title-lg{
    font: var(--title-lg);
    color: var(--gray-600);
}
.title-sm{
    font: var(--title-sm);
    color: var(--gray-400);
}